* {
  margin: 0 auto;
}

/* 기본 레이아웃 */

/* 상단바 */
.topbar {
  width: 100%;
  height: 70px;
  background: #eaf0ff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.arrow_icon {
  width: 30px;
  height: auto;
  cursor: pointer;
  margin-left: 10px;
}

.topTitle {
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  color: #333;
}

/* 예시 컴포넌트 부분 */
.component {
  width: 100%;
  min-height: 500px;
  background-color: #ffffff;
  border-top: 5px solid #4d6ab2;
  border-bottom: 5px solid #4d6ab2;
}

/* 설명 섹션 */
.contents {
  width: 100%;
  min-height: 500px;
  background: #eaf0ff;
  padding: 100px 0;
}

.contentBox {
  background-color: #fff;
  border: 5px solid #4d6ab2;
  border-radius: 20px;
  padding: 50px 0;
  margin: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.contentTitle {
  background: #eaf0ff;
  min-width: 600px;
  padding: 10px 35px;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
}

.contentText {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  min-width: 650px;
}

/* 예시 코드 삽입 */
.codeSection {
  display: flex;
  gap: 50px;
}

.code {
  min-width: 200px;
  min-height: 100px;
  border-radius: 5px;
  border: 2px solid #7b90c7;
  background: #30384b;
  padding: 10px;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #f1f1f1;
}

.codeResult {
  min-width: 200px;
  min-height: 100px;
  border-radius: 5px;
  border: 2px solid #7b90c7;
  background: #ffffff;
}

/* 콘텐츠 하이라이터 */
.highlight_yellow {
  background-color: #fd4f;
}

.highlight_bold {
  font-weight: 600;
}

.inlineCode {
  color: #4d6ab2;
  background-color: #eaf0ff;
  padding: 2px 5px;
  border-radius: 5px;
}

.highlight_green {
  color: rgb(7, 169, 7);
  font-weight: 600;
}

/* 컴포넌트 */
* {
  margin: 0, auto;
}
.container {
  max-width: 250px;
  margin: auto;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  border: 5px solid #4d6ab2;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.container > h1 {
  font-size: 20px;
  font-weight: bold;
}
.memberBlock {
  margin-bottom: 20px;
}

.memberBlock > p {
  background-color: #66ccff;
  width: 50px;
  text-align: center;
  border-radius: 10px;
  padding: 3px;
  border: 2px solid #0099ff;
}
.resultContainer > p {
  font-size: 20px;
  font-weight: 600;
}
.selectBlock,
.resultBlock {
  display: flex;
}

.timeBlock {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
}

.timeBlock.selected {
  background-color: #a0d8ef;
}
.resultBlock .timeBlock.level-1 {
  background-color: #cceeff;
}
.resultBlock .timeBlock.level-2 {
  background-color: #66ccff;
}
.resultBlock .timeBlock.level-3 {
  background-color: #0099ff;
}

.timeLabels {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}

.timeLabels span {
  width: 50px;
  text-align: center;
  font-size: 12px;
  color: #333;
}
